/* for Login.html*/

body{
	background-image: url("../pic/background.png");
	background-size: cover;
	background-repeat: repeat-y;
}

#login {
margin-top:100px;
	font-size: 20px;
	height: 50px;
	width:100%;
}
#loginButton {
	margin-top: 50px;
	height: 50px;
	width: 100%;
}

input[type=text], input[type=password] {
	width: 400px;
	padding: 12px 10px;
	margin: 10px 0;
	box-sizing: border-box;
}
input[type=text]:focus, input[type=password]:focus {
	border: 5px solid #7f7f7f;
}

input[type=submit], input[type=reset] {
	background-color: #7BA23F;
	border: none;
	color: white;
	padding: 16px 32px;
	margin: 25px 10px;
	cursor: pointer;
}
